.env
node_modules/
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://admin:LhuAdmin2026@cluster0.xxxxx.mongodb.net/ecommerce_lhu?retry
Writes=true&w=majority
# Cấu hình Chuỗi bí mật JWT & Thời hạn Token
JWT_SECRET=LhuEcommerceSecretKey2026SuperSecure@!#
JWT_EXPIRE=30d
